{{define "New"}}
{{template "Header"}}
{{template "Menu"}}
<h2 style="text-align:center;">Create ToDo List</h2>
<div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
<form method="POST" action="insert">
<label><b>Assignee : </b></label><input type="text" name="assignee" placeholder="Assignee" required style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"/><br/><br/>
<label><b>Assigner : </b></label><input type="text" name="assigner" placeholder="Assigner" required style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"/><br/><br/>
<label><b>Task : </b></label><br/><textarea name="task" rows="10" placeholder="Task" required style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"></textarea><br/><br/>
<label><b>Start : </b></label><input type="text" name="start" placeholder="Start" required style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"/><br/><br/>
<label><b>Finish : </b></label><input type="text" name="finish" placeholder="Finish" required style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"/><br/><br/>
<label><b>Status : </b></label><input type="text" name="status" placeholder="Status" required style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;"/><br/><br/>
<input type="submit" value="Create" style="width: 100%;background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;"/>
</form>
</div>
{{template "Footer"}}
{{end}}
