{{define "Show"}}
{{template "Header"}}
{{template "Menu"}}
<table border="1">
  <thead><tr><td colspan="2"><b>ToDo List {{.ID}}</b></td></tr></thead>
  <tr><td><b>Assignee</b></td><td>{{.Assignee}}</td></tr>
  <tr><td><b>Assigner</b></td><td>{{.Assigner}}</td></tr>
  <tr><td><b>Task</b></td><td>{{.Task}}</td></tr>
  <tr><td><b>Start</b></td><td>{{.Start}}</td></tr>
  <tr><td><b>Finish</b></td><td>{{.Finish}}</td></tr>
  <tr><td><b>Status</b></td><td>{{.Status}}</td></tr>
</table>
{{template "Footer"}}
{{end}}
